@model NearbyShops.Infrastructure.Entities.User

@{
    ViewData["Title"] = "Edit";
}
<body class=".su.body">
    <h2>Modal Signup Form</h2>

    <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Sign Up</button>

    

   
</body>